@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}




html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto' sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 10px #0051ff7d !important;

}

.desktop-area::-webkit-scrollbar {
  display: none;
}

.desktop-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #37373a;
  transition: 1s !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #006aff;
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
    opacity: 0;
  }
}