# Database Configuration (Docker Default)
DB_USER="postgres"
DB_HOST="localhost"
DB_PASSWORD="root"
DB_NAME="ControlDB"
DB_PORT=5432

# Server Configuration
SERVER_PORT=3000

# Security (JWT) - Use generic values for the example
JWT_SECRET="your_development_secret_key_here"
JWT_REFRESH_SECRET="your_development_refresh_secret_key_here"

# Prisma Connection String
DATABASE_URL="postgresql://postgres:root@localhost:5432/ControlDB"